<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="instanceConfig" type="EllieMae.EMLite.Server.InstanceConfiguration, Server"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="CacheStoreSettings" type="EllieMae.EMLite.Server.Configuration.CacheStoreConfiguration, Server"/>
    <section name="signalFxReporter" type="Metrics.SignalFx.Configuration.SignalFxReporterConfiguration, Metrics.NET.SignalFX" />
  </configSections>
  <!--
    This section is for configuring the instance configuration provider and data source.
    The default provider is the registry, which would include the standard encompass instance
    configurations (e.g. Encompass$A, Encompass$B, ...)
  -->
  <instanceConfig provider="registry" source=""/>
  <!-- get config from directory service. WCF service bindings BasicHttpBinding_IDirectoryService below is needed to use directory service.  -->
  <!--<instanceConfig provider="directory" source="" />-->
  <CacheStoreSettings Type="InProcess" ServerAddresses="" ClusterName="" ClusterPassword="" MapSuffix=""/>
  
  <signalFxReporter apiToken="_a2yt-0ypxkbnwt7QvOhng" sourceType="fqdn" sampleInterval="00:00:10">
    <defaultDimensions>
      <!-- supported are PROD, STAGING, QA, DEV-->
      <defaultDimension name="Environment" value="DEV" />
      <defaultDimension name="ServerType" value="EncPlatform" />
    </defaultDimensions>
  </signalFxReporter>
  
  <connectionStrings>
    <add name="EncompassTestConnection" connectionString="Data Source=Mobius;Initial Catalog=emdb;User Id=emdbuser;Password=Password123!"/>
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.connection_string_name">EncompassConnection</property>
      <property name="adonet.batch_size">50</property>
      <property name="show_sql">false</property>
      <!-- use 'web' instead of 'call' for storing on HttpContext -->
      <property name="current_session_context_class">call</property>
    </session-factory>
  </hibernate-configuration>
  <!-- add the following attribute to the log4net element to completely turn off Logging threshold="OFF"-->
  <log4net debug="false">
    <!-- Define some output appenders -->
    <!-- Custom Ellie Mae Appender that logs messages through EllieMae.EMLite.Common.Tracing -->
    <appender name="MultitenentTraceAppender" type="Elli.Data.Orm.MultitenentTraceAppender, Elli.Data">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n%n"/>
      </layout>
    </appender>
    <!-- The trace appender logs to the .NET System.Diagnostics.Trac system -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
    <!-- Standard console output appender -->
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
    <!-- Logs to a rolling file -->
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="_log.txt"/>
      <param name="AppendToFile" value="false"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n%n"/>
      </layout>
    </appender>
    <!-- Define encompassLogRollingFileAppender appenders -->
    <appender name="encompassLogRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <File type="log4net.Util.PatternString" value="%property{log4net:HostName}_EncompassPlatformLog.txt"/>
      <AppendToFile value="true"/>
      <RollingStyle value="Size"/>
      <MaxSizeRollBackups value="30"/>
      <MaximumFileSize value="10MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <immediateFlush>true</immediateFlush>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n%n"/>
      </layout>
    </appender>
    <!-- Define encompassMethodPerformanceLogRollingFileAppender appenders -->
    <appender name="encompassMethodPerformanceLogRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <File type="log4net.Util.PatternString" value="%property{log4net:HostName}_EncompassPlatformMethodPerformanceLog.txt"/>
      <AppendToFile value="true"/>
      <RollingStyle value="Size"/>
      <MaxSizeRollBackups value="30"/>
      <MaximumFileSize value="10MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <immediateFlush>true</immediateFlush>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d - %m%n"/>
      </layout>
    </appender>
    <!-- Define encompassPerformanceLogRollingFileAppender appenders -->
    <appender name="encompassPerformanceLogRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <File type="log4net.Util.PatternString" value="%property{log4net:HostName}_EncompassPlatformPerformanceLog.txt"/>
      <AppendToFile value="true"/>
      <RollingStyle value="Size"/>
      <MaxSizeRollBackups value="30"/>
      <MaximumFileSize value="10MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <immediateFlush>true</immediateFlush>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n%n"/>
      </layout>
    </appender>
    <!-- Define encompassLoanProcessLogRollingFileAppender appenders -->
    <appender name="encompassLoanProcessLogRollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <File type="log4net.Util.PatternString" value="%property{LoanProcessLogFile}_LoanProcess.txt"/>
      <AppendToFile value="true"/>
      <RollingStyle value="Size"/>
      <MaxSizeRollBackups value="30"/>
      <MaximumFileSize value="10MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <immediateFlush>true</immediateFlush>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%m%n%n"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <!-- levels: OFF, DEBUG, INFO, WARN, ERROR, FATAL -->
    <root>
      <level value="DEBUG"/>
      <!--
      <appender-ref ref="MultitenentTraceAppender" />
      <appender-ref ref="rollingFile" />
      -->
    </root>
    <logger name="EncompassPlatform.Log">
      <level value="DEBUG"/>
      <appender-ref ref="encompassLogRollingFileAppender"/>
    </logger>
    <logger name="EncompassPlatform.Debug">
      <level value="DEBUG"/>
      <appender-ref ref="encompassLogRollingFileAppender"/>
    </logger>
    <logger name="EncompassPlatform.MethodPerformance">
      <level value="DEBUG"/>
      <appender-ref ref="encompassMethodPerformanceLogRollingFileAppender"/>
    </logger>
    <logger name="EncompassPlatform.Performance">
      <level value="DEBUG"/>
      <appender-ref ref="encompassPerformanceLogRollingFileAppender"/>
    </logger>
    <logger name="EncompassPlatform.LoanProcess">
      <level value="DEBUG"/>
      <appender-ref ref="encompassLoanProcessLogRollingFileAppender"/>
    </logger>
    <!-- The following will capture warnings and errors (WARN, ERROR, FATAL) and send them to the root appender-->
    <logger name="NHibernate">
      <level value="OFF"/>
      <appender-ref ref="MultitenentTraceAppender"/>
      <appender-ref ref="rollingFile"/>
    </logger>
    <!--  
    The following logger is created internall by nHibernate to dump the SQL statements to the logger.
    Only set this to DEBUG if you wish to capture all SQL statements
    for debugging/troubeshooting as it generates lots of log info
    -->
    <logger name="NHibernate.SQL">
      <level value="OFF"/>
      <appender-ref ref="MultitenentTraceAppender"/>
      <appender-ref ref="rollingFile"/>
    </logger>
  </log4net>
  <appSettings>
    <add key="Session.TimeoutMinutes" value="20"/>
    <add key="Security.JwtKey" value="LVTkpv5yoJIXirwzdj6J3S1U5Kb+cqCSF4q8M3Y+id0="/>
    <add key="ZipCodeFilePath" value="App_Data\\ZipCode.dat"/>
    <add key="IsRunningAsPlatform" value="true"/>
    <add key="ElliDiagnostics.TraceLevel" value="Error"/>
    <add key="ElliDiagnostics.LoanProcessTrace" value="false"/>
    <add key="LoanService.UseCalculateModifiedFields" value="true"/>
    <add key="LoanService.LoanCreate.UseCalculateModifiedFields" value="false"/>
    <add key="LoanService.LoanSave.UseCalculateModifiedFields" value="false"/>
    <add key="LoanService.LoanCalculate.UseCalculateModifiedFields" value="false"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="IsElliTriggerGroupEnabled" value="true"/>
    <add key="TransactionServiceEndPoint" value="http://vis.qa.elmae/PlatformSharedService/v1/BillingTransactionService/TransactionLog.svc"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="ec1cas.corp.elmae" defaultCredentials="true" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Elli.EncompassPlatform.Web.SessionService" behaviorConfiguration="authBypassBehavior"/>
      <service name="Elli.EncompassPlatform.Web.SecurityService" behaviorConfiguration="authBypassBehavior"/>
      <service name="Elli.EncompassPlatform.Web.SysInfoService" behaviorConfiguration="authBypassBehavior"/>
      <service name="Elli.EncompassPlatform.Web.HelloWorldService" behaviorConfiguration="authBypassBehavior"/>
    </services>
    <behaviors>
      <!--
       <endpointBehaviors>
         <behavior>
           <webHttp defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
         </behavior>
       </endpointBehaviors>      
       -->
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization serviceAuthorizationManagerType="Elli.EncompassPlatform.Web.Security.ServiceAuthorization, Elli.EncompassPlatform.Web"/>
        </behavior>
        <behavior name="authBypassBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDirectoryService"/>
        <binding name="BasicHttpBinding_IPlatformService_v151" maxReceivedMessageSize="2147483647"/>
        <binding name="MediaServicesPortSOAP11Binding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://eq1vwbenc3009.dco.elmae/EMDirectoryServices/DirectoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectoryService" contract="Elli.DirectoryServices.Contracts.Services.IDirectoryService" name="BasicHttpBinding_IDirectoryService"/>-->
      <endpoint address="http://ed1vwbenc3009.dco.elmae/EMDirectoryServices/DirectoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDirectoryService" contract="Elli.DirectoryServices.Contracts.Services.IDirectoryService" name="BasicHttpBinding_IDirectoryService"/>
      <endpoint address="http://10.112.107.23:11001/encompass/2015_01/LoanSvcs" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlatformService_v151" contract="EllieMae.EMLite.Server.IPlatformService" name="BasicHttpBinding_IPlatformServiceQSPort"/>
      <endpoint address="http://encompass-ia.dev.dco.elmae:11001/encompass_v1/mediaserver"
          binding="basicHttpBinding" bindingConfiguration="MediaServicesPortSOAP11Binding"
          contract="MediaServices.MediaServicesPort" name="MediaServicesPortSOAP11BindingQSPort" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="100"/>
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition=""/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\EncompassData\Logs\EncPlatformMessages.svclog"/>
        </listeners>
      </source>
    </sources>
    <!--
  
      There are five levels:
      Off:0
      Error:1
      Warning:2
      Info:3
      Verbose:4
    -->
    <switches>
      <add name="Server" value="3"/>
    </switches>
  </system.diagnostics>
</configuration>
